<match eventd>
  @id eventd_elasticsearch
  @type elasticsearch
  @log_level info
  include_tag_key true
  host {{ elasticsearch_host }}
  port {{ elasticsearch_port }}
  scheme https
  ssl_version TLSv1_2
  logstash_format true
  logstash_prefix "eventd"
  reconnect_on_error true
  reload_on_failure true
  reload_connections false
  log_es_400_reason true
  <buffer>
    @type file
    path /var/log/fluentd-buffers/eventd.kubernetes.system.buffer
    flush_mode interval
    retry_type exponential_backoff
    flush_thread_count 2
    flush_interval 5s
    retry_forever
    retry_max_interval 30
    chunk_limit_size {{ fluentd_chunk_limit_size }}
    queue_limit_length {{ fluentd_queue_limit_length }}
    overflow_action block
  </buffer>
</match>
<match **>
  @id elasticsearch
  @type elasticsearch
  @log_level info
  include_tag_key true
  host {{ elasticsearch_host }}
  port {{ elasticsearch_port }}
  scheme https
  ssl_version TLSv1_2
  logstash_format true
  logstash_prefix "magma"
  reconnect_on_error true
  reload_on_failure true
  reload_connections false
  log_es_400_reason true
  <buffer>
    @type file
    path /var/log/fluentd-buffers/kubernetes.system.buffer
    flush_mode interval
    retry_type exponential_backoff
    flush_thread_count 2
    flush_interval 5s
    retry_forever
    retry_max_interval 30
    chunk_limit_size {{ fluentd_chunk_limit_size }}
    queue_limit_length {{ fluentd_queue_limit_length }}
    overflow_action block
  </buffer>
</match>