bundle: kubernetes
name: magma-orc8r
description: |
  Orchestrator is a Magma service that provides a simple and consistent way to
  configure and monitor the wireless network securely. The metrics acquired through the platform
  allows you to see the analytics and traffic flows of the wireless users through the Magma web UI.
applications:
  fluentd:
    charm: fluentd-elasticsearch
    channel: edge
    scale: 1
    trust: true
    options:
      domain: "example.com"
      elasticsearch-url: "orc8r-elasticsearch:1234"
      fluentd-chunk-limit-size: "2M"
      fluentd-queue-limit-length: 8
  nms-magmalte:
    {%- if local == true %}
    charm: ./magma-nms-magmalte_ubuntu-22.04-amd64.charm
    resources:
      magma-nms-magmalte-image: ghcr.io/canonical/magma-orc8r-nms-magmalte:1.8.0
    {%- else %}
    charm: magma-nms-magmalte
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  nms-nginx-proxy:
    {%- if local == true %}
    charm: ./magma-nms-nginx-proxy_ubuntu-22.04-amd64.charm
    resources:
      magma-nms-nginx-proxy-image: ghcr.io/canonical/nginx:1.23.3
    {%- else %}
    charm: magma-nms-nginx-proxy
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-accessd:
    {%- if local == true %}
    charm: ./magma-orc8r-accessd_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-accessd-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-accessd
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-alertmanager:
    charm: alertmanager-k8s
    channel: edge
    scale: 1
    trust: true
  orc8r-alertmanager-configurer:
    charm: alertmanager-configurer-k8s
    channel: edge
    scale: 1
    trust: true
    options:
      multitenant_label: "networkID"
  orc8r-analytics:
    {%- if local == true %}
    charm: ./magma-orc8r-analytics_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-analytics-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-analytics
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-bootstrapper:
    {%- if local == true %}
    charm: ./magma-orc8r-bootstrapper_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-bootstrapper-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-bootstrapper
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-certifier:
    {%- if local == true %}
    charm: ./magma-orc8r-certifier_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-certifier-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-certifier
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
    options:
      domain: example.com
  orc8r-configurator:
    {%- if local == true %}
    charm: ./magma-orc8r-configurator_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-configurator-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-configurator
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-ctraced:
    {%- if local == true %}
    charm: ./magma-orc8r-ctraced_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-ctraced-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-ctraced
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-device:
    {%- if local == true %}
    charm: ./magma-orc8r-device_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-device-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-device
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-directoryd:
    {%- if local == true %}
    charm: ./magma-orc8r-directoryd_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-directoryd-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-directoryd
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-dispatcher:
    {%- if local == true %}
    charm: ./magma-orc8r-dispatcher_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-dispatcher-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-dispatcher
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-eventd:
    {%- if local == true %}
    charm: ./magma-orc8r-eventd_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-eventd-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-eventd
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
    options:
      elasticsearch-url: "orc8r-elasticsearch:1234"
  orc8r-ha:
    {%- if local == true %}
    charm: ./magma-orc8r-ha_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-ha-image: ghcr.io/canonical/magma-lte-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-ha
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-lte:
    {%- if local == true %}
    charm: ./magma-orc8r-lte_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-lte-image: ghcr.io/canonical/magma-lte-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-lte
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-metricsd:
    {%- if local == true %}
    charm: ./magma-orc8r-metricsd_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-metricsd-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-metricsd
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-nginx:
    {%- if local == true %}
    charm: ./magma-orc8r-nginx_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-nginx-image: linuxfoundation.jfrog.io/magma-docker/nginx:1.8.0
    {%- else %}
    charm: magma-orc8r-nginx
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-obsidian:
    {%- if local == true %}
    charm: ./magma-orc8r-obsidian_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-obsidian-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-obsidian
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-orchestrator:
    {%- if local == true %}
    charm: ./magma-orc8r-orchestrator_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-orchestrator-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-orchestrator
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
    options:
      elasticsearch-url: "orc8r-elasticsearch:1234"
  orc8r-policydb:
    {%- if local == true %}
    charm: ./magma-orc8r-policydb_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-policydb-image: ghcr.io/canonical/magma-lte-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-policydb
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-prometheus:
    charm: prometheus-k8s
    channel: edge
    scale: 1
    trust: true
  orc8r-prometheus-cache:
    charm: prometheus-edge-hub
    channel: edge
    scale: 1
    trust: true
    options:
      metrics_count_limit: 500000
  orc8r-prometheus-configurer:
    charm: prometheus-configurer-k8s
    channel: edge
    scale: 1
    trust: true
    options:
      multitenant_label: "networkID"
  orc8r-service-registry:
    {%- if local == true %}
    charm: ./magma-orc8r-service-registry_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-service-registry-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-service-registry
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-smsd:
    {%- if local == true %}
    charm: ./magma-orc8r-smsd_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-smsd-image: ghcr.io/canonical/magma-lte-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-smsd
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-state:
    {%- if local == true %}
    charm: ./magma-orc8r-state_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-state-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-state
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-streamer:
    {%- if local == true %}
    charm: ./magma-orc8r-streamer_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-streamer-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-streamer
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-subscriberdb:
    {%- if local == true %}
    charm: ./magma-orc8r-subscriberdb_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-subscriberdb-image: ghcr.io/canonical/magma-lte-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-subscriberdb
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-subscriberdb-cache:
    {%- if local == true %}
    charm: ./magma-orc8r-subscriberdb-cache_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-subscriberdb-cache-image: ghcr.io/canonical/magma-lte-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-subscriberdb-cache
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-tenants:
    {%- if local == true %}
    charm: ./magma-orc8r-tenants_ubuntu-22.04-amd64.charm
    resources:
      magma-orc8r-tenants-image: ghcr.io/canonical/magma-orc8r-controller:1.8.0
    {%- else %}
    charm: magma-orc8r-tenants
    channel: {{ channel|default("edge") }}
    {%- endif %}
    scale: 1
    trust: true
  orc8r-user-grafana:
    charm: grafana-k8s
    channel: edge
    options:
      web_external_url: "/grafana"
      enable_auto_assign_org: false
    scale: 1
    trust: true
  postgresql-k8s:
    charm: postgresql-k8s
    channel: 14/stable
    scale: 1
    trust: true
  tls-certificates-operator:
    charm: tls-certificates-operator
    channel: edge
    scale: 1
relations:
- - fluentd
  - orc8r-certifier:fluentd-certs
- - nms-magmalte
  - orc8r-certifier
- - nms-magmalte:db
  - postgresql-k8s:db
- - nms-nginx-proxy
  - orc8r-certifier
- - nms-nginx-proxy:magma-nms-magmalte
  - nms-magmalte:magma-nms-magmalte
- - orc8r-accessd:database
  - postgresql-k8s:database
- - orc8r-alertmanager:remote-configuration
  - orc8r-alertmanager-configurer:alertmanager
- - orc8r-bootstrapper:database
  - postgresql-k8s:database
- - orc8r-bootstrapper:cert-root-ca
  - orc8r-certifier:cert-root-ca
- - orc8r-certifier
  - tls-certificates-operator
- - orc8r-certifier:database
  - postgresql-k8s:database
- - orc8r-configurator:database
  - postgresql-k8s:database
- - orc8r-ctraced:database
  - postgresql-k8s:database
- - orc8r-device:database
  - postgresql-k8s:database
- - orc8r-directoryd:database
  - postgresql-k8s:database
- - orc8r-lte:database
  - postgresql-k8s:database
- - orc8r-metricsd:alertmanager-k8s
  - orc8r-alertmanager:alerting
- - orc8r-metricsd:alertmanager-configurer-k8s
  - orc8r-alertmanager-configurer:alertmanager-configurer
- - orc8r-metricsd:magma-orc8r-orchestrator
  - orc8r-orchestrator:magma-orc8r-orchestrator
- - orc8r-metricsd:prometheus-k8s
  - orc8r-prometheus:self-metrics-endpoint
- - orc8r-metricsd:prometheus-configurer-k8s
  - orc8r-prometheus-configurer:prometheus-configurer
- - orc8r-nginx:magma-orc8r-bootstrapper
  - orc8r-bootstrapper:magma-orc8r-bootstrapper
- - orc8r-nginx:cert-certifier
  - orc8r-certifier:cert-certifier
- - orc8r-nginx:cert-controller
  - orc8r-certifier:cert-controller
- - orc8r-nginx:cert-root-ca
  - orc8r-certifier:cert-root-ca
- - orc8r-nginx:magma-orc8r-obsidian
  - orc8r-obsidian:magma-orc8r-obsidian
- - orc8r-orchestrator:cert-admin-operator
  - orc8r-certifier:cert-admin-operator
- - orc8r-orchestrator:magma-orc8r-certifier
  - orc8r-certifier:magma-orc8r-certifier
- - orc8r-orchestrator:magma-orc8r-accessd
  - orc8r-accessd:magma-orc8r-accessd
- - orc8r-orchestrator:magma-orc8r-service-registry
  - orc8r-service-registry:magma-orc8r-service-registry
- - orc8r-orchestrator:metrics-endpoint
  - orc8r-prometheus-cache:metrics-endpoint
- - orc8r-policydb:database
  - postgresql-k8s:database
- - orc8r-prometheus:alertmanager
  - orc8r-alertmanager:alerting
- - orc8r-prometheus:metrics-endpoint
  - orc8r-prometheus-cache:metrics-endpoint
- - orc8r-prometheus-configurer:prometheus
  - orc8r-prometheus:receive-remote-write
- - orc8r-smsd:database
  - postgresql-k8s:database
- - orc8r-state:database
  - postgresql-k8s:database
- - orc8r-subscriberdb-cache:database
  - postgresql-k8s:database
- - orc8r-subscriberdb:database
  - postgresql-k8s:database
- - orc8r-tenants:database
  - postgresql-k8s:database
- - orc8r-user-grafana:grafana-source
  - orc8r-prometheus:grafana-source
- - orc8r-user-grafana:grafana-auth
  - nms-magmalte:grafana-auth
