name: Promote Charm

on:
  workflow_dispatch:
    inputs:
      promotion:
        type: choice
        description: Channel to promote from
        required: true
        options:
          - edge -> beta
          - beta -> candidate
          - candidate -> stable
      charm-name:
        type: choice
        description: 'Charm Name'
        required: true
        options:
          - all
          - orc8r-accessd
          - orc8r-analytics
          - orc8r-base-acct
          - orc8r-bootstrapper
          - orc8r-certifier
          - orc8r-configurator
          - orc8r-ctraced
          - orc8r-device
          - orc8r-directoryd
          - orc8r-dispatcher
          - orc8r-eventd
          - orc8r-feg
          - orc8r-feg-relay
          - orc8r-ha
          - orc8r-health
          - orc8r-lte
          - orc8r-metricsd
          - orc8r-nginx
          - nms-magmalte
          - nms-nginx-proxy
          - orc8r-obsidian
          - orc8r-orchestrator
          - orc8r-policydb
          - orc8r-service-registry
          - orc8r-smsd
          - orc8r-state
          - orc8r-streamer
          - orc8r-subscriberdb-cache
          - orc8r-subscriberdb
          - orc8r-tenants

jobs:
  promote:
    name: Promote Charm
    runs-on: ubuntu-latest
    strategy:
      matrix:
        charms: [
          orc8r-accessd,
          orc8r-analytics,
          orc8r-base-acct,
          orc8r-bootstrapper,
          orc8r-certifier,
          orc8r-configurator,
          orc8r-ctraced,
          orc8r-device,
          orc8r-directoryd,
          orc8r-dispatcher,
          orc8r-eventd,
          orc8r-feg,
          orc8r-feg-relay,
          orc8r-ha,
          orc8r-health,
          orc8r-lte,
          orc8r-metricsd,
          orc8r-nginx,
          nms-magmalte,
          nms-nginx-proxy,
          orc8r-obsidian,
          orc8r-orchestrator,
          orc8r-policydb,
          orc8r-service-registry,
          orc8r-smsd,
          orc8r-state,
          orc8r-streamer,
          orc8r-subscriberdb-cache,
          orc8r-subscriberdb,
          orc8r-tenants,
        ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set target channel
        env:
          PROMOTE_FROM: ${{ github.event.inputs.promotion }}
        run: |
          if [ "${PROMOTE_FROM}" == "edge -> beta" ]; then
            echo "promote-from=edge" >> ${GITHUB_ENV}
            echo "promote-to=beta" >> ${GITHUB_ENV}
          elif [ "${PROMOTE_FROM}" == "beta -> candidate" ]; then
            echo "promote-from=beta" >> ${GITHUB_ENV}
            echo "promote-to=candidate" >> ${GITHUB_ENV}
          elif [ "${PROMOTE_FROM}" == "candidate -> stable" ]; then
            echo "promote-from=candidate" >> ${GITHUB_ENV}
            echo "promote-to=stable" >> ${GITHUB_ENV}
          fi
      - name: Promote Charm
        if: github.event.inputs.charm-name != 'all'
        uses: canonical/charming-actions/release-charm@1.0.3
        with:
          credentials: ${{ secrets.CHARMCRAFT_AUTH }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          destination-channel: latest/${{ env.promote-to }}
          origin-channel: latest/${{ env.promote-from }}
          tag-prefix: magma-${{ github.event.inputs.charm-name }}
          charm-path: ./${{ github.event.inputs.charm-name }}-operator
      - name: Promote All Charms
        if: github.event.inputs.charm-name == 'all'
        uses: canonical/charming-actions/release-charm@1.0.3
        with:
          credentials: ${{ secrets.CHARMCRAFT_AUTH }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          destination-channel: latest/${{ env.promote-to }}
          origin-channel: latest/${{ env.promote-from }}
          tag-prefix: magma-${{ matrix.charms }}
          charm-path: ./${{ matrix.charms }}-operator
