name: Upload Charm

on:
  workflow_call:
    inputs:
      charm:
        required: true
        type: string

jobs:
  charmhub-upload:
    runs-on: ubuntu-20.04
    name: Charmhub upload ${{ inputs.charm }}
    steps:
      - uses: actions/checkout@v2

      - name: Wait for integration tests to succeed
        uses: lewagon/wait-on-check-action@v1.1.2
        with:
          ref: main
          check-name: "Integration tests"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 20

      - name: Check libraries
        uses: canonical/charming-actions/check-libraries@2.0.0-rc
        with:
          credentials: ${{ secrets.CHARMCRAFT_AUTH }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          charm-path: ./orchestrator-bundle/${{ inputs.charm }}

      - name: Select charmhub channel
        uses: canonical/charming-actions/channel@2.0.0-rc
        id: channel

      - name: Upload charm to charmhub
        id: upload
        uses: canonical/charming-actions/upload-charm@2.0.0-rc
        with:
          credentials: "${{ secrets.CHARMCRAFT_AUTH }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          upload-image: "false"
          channel: "${{ steps.channel.outputs.name }}"
          charm-path: ./orchestrator-bundle/${{ inputs.charm }}
          tag-prefix: magma-${{ inputs.charm }}

      - name: Chmod charmcraft logs
        if: steps.upload.conclusion == 'failure'
        run: |
          sudo chmod -R 777 /root/snap/charmcraft/common/cache/charmcraft/log/ 

      - name: Archive charmcraft logs
        if: steps.upload.conclusion == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: charmcraft-upload-logs
          path: /root/snap/charmcraft/common/cache/charmcraft/log/*.log
