name: Upload Libraries

on:
  workflow_call:
    inputs:
      charm:
        required: true
        type: string
      libs:
        required: true
        type: string

jobs:
  libs-charmhub-upload:
    runs-on: ubuntu-20.04
    name: Upload ${{ inputs.charm }} libs to charmhub
    steps:
      - uses: actions/checkout@v2

      - name: Wait for integration tests to succeed
        uses: lewagon/wait-on-check-action@v1.1.2
        with:
          ref: main
          check-name: "Integration tests"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 20

      - name: Check libraries
        uses: canonical/charming-actions/check-libraries@2.0.0-rc
        with:
          credentials: ${{ secrets.CHARMCRAFT_AUTH }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          charm-path: ./${{ inputs.charm }}

      - name: Publish libs
        id: publish
        env:
          CHARMCRAFT_AUTH: "${{ secrets.CHARMCRAFT_AUTH }}"
        run: |
          set -eux
          for lib in ${{ inputs.libs }}; do
            echo "Publishing ${lib}"
            (cd ./${{ inputs.charm }} && charmcraft publish-lib ${lib})
          done

      - name: Chmod charmcraft logs
        if: ${{ failure() && steps.publish.conclusion == 'failure' }}
        run: |
          sudo chmod -R 777 /root/snap/charmcraft/common/cache/charmcraft/log/ 

      - name: Archive charmcraft logs
        if: ${{ failure() && steps.publish.conclusion == 'failure' }}
        uses: actions/upload-artifact@v3
        with:
          name: charmcraft-libs-upload-logs
          path: /root/snap/charmcraft/common/cache/charmcraft/log/*.log
